<h1>Open Source</h1>
<p>This site and the backend computations are all open source! You're welcome to check us out on
  <a href="https://github.com/yannicklerestif/ecologicalprice">Github</a>.</p>
<p>Don't pay attention to the doc there, it's outdated.</p>
<h1>Contact</h1>
<p>Do you have a comment, suggestion, question? Want to get involved?</p>
<p>Don't hesitate to use the form below.</p>
<form [formGroup]="contactForm" (ngSubmit)="send()" novalidate class="contact-form">
  <mat-form-field class="full-width">
      <input matInput placeholder="Your email" formControlName="email"
             [errorStateMatcher]="matcher">
      <mat-error>Please enter a valid email address or we won't be able to answer you!</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput matTextareaAutosize placeholder="Leave a message"
              formControlName="message"
              [errorStateMatcher]="matcher">
    </textarea>
    <mat-error>Please enter a message</mat-error>
  </mat-form-field>
  <button mat-flat-button color="primary"
          type="submit"
          [disabled]="contactForm.invalid">Send
  </button>
</form>