@import '~@angular/material/theming';
@import '../../../my-theme';

.header {
  background-color: mat-color(map-get($my-theme, primary));
  width: 100% !important;
  // trick - see below
  padding: 0px 10px 10px 10px;
}

// trick - the goal is to add some padding to header subsections, but only on the second line if there is one
.header-nav-inner-element {
  margin-top: 10px;
}

#country-select {
  width: 150px;
}

.filler {
  flex: 1;
}

a {
  font-size: 14px;
  color: mat-color(map-get($my-theme, background), background);
  &.active {
    background-color: mat-color(map-get($my-theme, primary), 400);
  }
}