<div class="header inverted-text-colors" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
  <div class="header-nav-inner-element" fxLayout="row" fxLayoutGap="10px">
    <a class="white-button-overlay" mat-button [disableRipple]="true"
       uiSref="root.prices.summary" uiSrefActive="active">Prices</a>
    <a class="white-button-overlay" mat-button [disableRipple]="true"
       uiSref="root.prices.details" uiSrefActive="active">Details</a>
  </div>
  <span class="filler"></span>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <mat-form-field class="header-nav-inner-element">
      <mat-select placeholder="Country" mat-color="secondary" [value]="selectedCountryCode"
        (selectionChange)="countryChanged($event)">
        <mat-option *ngFor="let country of countries" [value]="country.code">
          {{ country.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>SOME OTHER DIV</div>
  </div>
</div>
