<div class="header inverted-text-colors" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
  <div class="header-nav-inner-element" fxLayout="row nowrap" fxLayoutGap="10px">
    <a id="home-button" class="white-button-overlay" mat-button [disableRipple]="true"
       uiSref="root.prices.home" uiSrefActive="active">
      <mat-icon>home</mat-icon>
    </a>
    <a class="white-button-overlay" mat-button [disableRipple]="true"
       uiSref="root.prices.summary" uiSrefActive="active">Prices</a>
    <a class="white-button-overlay" mat-button [disableRipple]="true"
       uiSref="root.prices.details" [uiParams]={objectId:null}
       [ngClass]="{'active': isDetailsTabActive}">Details</a>
    <a class="white-button-overlay" mat-button [disableRipple]="true"
       uiSref="root.prices.contact" uiSrefActive="active">Contact</a>
  </div>
  <div class="filler" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <span class="filler"></span>
    <mat-form-field id="country-select" class="header-nav-inner-element">
      <mat-select placeholder="Country" mat-color="secondary" [value]="selectedCountryCode"
                  (selectionChange)="countryChanged($event)">
        <mat-option *ngFor="let country of countries" [value]="country.code">
          {{ country.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field id="currency-select" class="header-nav-inner-element">
      <mat-select placeholder="Currency" mat-color="secondary" [value]="selectedCurrencyCodeOrAuto"
                  (selectionChange)="currencyChanged($event)">
        <mat-option *ngFor="let currency of currencies" [value]="currency.code">
          {{ currency.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
