@import '~@angular/material/theming';
@import '../my-theme';

.fixed-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  left: 0px;
  z-index: 2;
  //background-color: mat-color(map-get($my-theme, primary));
  width: 100% !important;
}

.filler {
  flex: 1 1;
}
