@import '../exports.scss';

.fixed-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  left: 0px;
  z-index: 2;
  height: 100%;
}

#main-content {
  overflow: auto;
  height: 100%;
  padding: 0 $default-padding 0 $default-padding;
}
