@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import './my-theme';

@include angular-material-theme($my-theme);

html, body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//a {
//  color: inherit;
//  font: inherit;
//  text-decoration: inherit;
//}

.white-button-overlay .mat-button-focus-overlay {
  background-color: rgba(mat-color(map-get($my-theme, background), background), 0.2) !important;
}

