@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import './my-theme';

@include angular-material-theme($my-theme);

html, body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* TODO: should go to header.component.scss
 but css encapsulation prevents styles from being applied to material components */
.inverted-text-colors {
  .mat-select-value, .mat-input-placeholder, .mat-select-arrow {
    color: mat-color(map-get($my-theme, background), background) !important;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-button-focus-overlay {
    background-color: rgba(mat-color(map-get($my-theme, background), background), 0.2) !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
}



