<mat-table #table [dataSource]="pricedObjects">

  <ng-container matColumnDef="objectName">
    <mat-header-cell *matHeaderCellDef> Object </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div fxLayout="row nowrap">
        <app-object-link [epObject]="element.epObject"></app-object-link>
        <!-- spacer between columns -->
        <div fxFlex="20px"></div>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="objectPrice">
    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.price | ecologicalPrice}}</mat-cell>
  </ng-container>

  <mat-header-row class="ep-header-row" *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>