<h1>Details</h1>

<h2>Ecological Footprint</h2>
<p>Ecological prices are based on the work of the
  <a href="https://www.footprintnetwork.org/" target="_blank">Global Footprint Network</a>.</p>
<p>Their work is based on the notion of <span class="emphasis">global hectare</span>, a unit in which they
  are able to express all resources we consume, and all available resources.</p>
<p>For CO2 emissions, it will be the amount of land needed to absorb them,
  for agricultural products, the land area needed to produce them,
  for livestock products, the land needed to feed them, and so on.</p>
<p>Different types of land account for a different number of global hectares depending on a coefficient
  they call <span class="emphasis">Equivalence Factor</span>.</p>
<p class="test">They calculated the world's total biocapacity as the following:</p>
<div class="data-box"><span class="emphasis">
  World's Total Biocapacity: {{worldTotalBiocapacity | number:'.2-2'}} Mds gha
</span></div>

<h2>Pricing Global Hectares</h2>
<h3>Price in International Dollars</h3>
<p>To give an <span class="emphasis">ecological price</span> to a global hectare, we divide the amount of money spent in
  one year in the world by the world total biocapacity.</p>
<p>We can then compute the ecological price of an object by multiplying the number
  of global hectares needed to produce it by the ecological price of a global hectare.</p>
<p>To evaluate the amount of money spent in one year, the first idea that comes to mind is to use the world's GDP.</p>
<p>But the problem with this idea is that the ecological prices computed this way do not depend on the purchase power in
  a country. In other words, if the general level of the prices is a lot lower in a country, ecological prices in this
  country will be relatively a lot higher.</p>
<p>To take this into account, we use the <a href="https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)">world's
  GDP expressed in International Dollars</a> as computed by the world bank, that takes the purchasing power parity into
  account. Its value is the following:</p>
<div class="data-box">
  <span class="emphasis">
    World's GDP in International Dollars: I${{worldPppGdp | number:'.2-2'}} Mds
  </span>
</div>
<p>The price of a global hectare in International Dollars is then:</p>
<div class="data-box data-box-result">
  <span class="emphasis">
    Price of a global hectare:
  </span>
  {{worldPppGdp | number:'.2-2'}} / {{worldTotalBiocapacity | number:'.2-2'}} =
  <span class="emphasis">
    I${{globalHectarePriceIntDollars | number:'.2-2'}}
  </span>
</div>

<h3>Price in {{selectedCurrency.name}} for {{selectedCountry.name}}</h3>
<p>The price of a global hectare for a country is the computed by multiplying the price in International Dollars
  by the average level of the prices in this country. We then convert it into the chosen currency.</p>
<p>Prices level in a country are computed by dividing the PPP GDP of this country by its nominal GDP.</p>
<div class="data-box">
  <span class="emphasis">
    Average price level in {{selectedCountry.name}}: {{selectedCountry.avgPrices | number:'.2-2'}}<br>
    Exchange rate for {{selectedCurrency.name}}: {{selectedCurrency.exchangeRate | number:'.2-2'}}<br>
  </span>
</div>
<p>Which gives us:</p>
<div class="data-box data-box-result">
  <span class="emphasis">
    Price of a global hectare in {{selectedCountry.name}}:
  </span>
  {{globalHectarePriceIntDollars | number:'.2-2'}} * {{selectedCountry.avgPrices | number:'.2-2'}} *
  {{selectedCurrency.exchangeRate | number:'.2-2'}} =
  <span class="emphasis">
    {{globalHectarePriceSelectedCurrency | currency:selectedCurrency.code}}
  </span>
</div>

<h2>Prices Of CO2 Objects</h2>
<p>The ecological price of CO2 objects, by definition, only depends on the CO2 emitted to create them.
  The ecological footprint, in global hectares, of a CO2 object, is computed by multiplying its CO2 cost
  by the ecological footprint of CO2 emissions.</p>
<p>The ecological footprint of CO2 emissions is computed by the Global Footprint Network:</p>
<div class="data-box">
  <span class="emphasis">
    CO2 ecological footprint: {{co2Footprint * 1000}} gha / ton
  </span>
</div>
<p>Then, for example for the CO2 object <span class="emphasis">{{sampleCo2ObjectEpObject.name}}</span>:</p>
<div class="data-box">
  <span class="emphasis">
    CO2 emissions for {{sampleCo2ObjectEpObject.name}}: {{sampleCo2Object.co2Cost | number:'.2-2'}} kg
  </span>
</div>
<p>The ecological footprint is then the following:</p>
<div class="data-box">
  <span class="emphasis">
    Ecological footprint for {{sampleCo2ObjectEpObject.name}}:
  </span>
  {{co2Footprint * 1000}} * {{sampleCo2Object.co2Cost | number:'.2-2'}} =
  <span class="emphasis">
    {{sampleCo2ObjectEcologicalFootprint | number:'.2-7'}} gha
  </span>
</div>
<p>We can then compute the ecological price by multiplying the ecological price by the price of a global hectare as
  computed above:</p>
<div class="data-box data-box-result">
  <span class="emphasis">
    Ecological price for {{sampleCo2ObjectEpObject.name}}:
  </span>
  {{sampleCo2ObjectEcologicalFootprint | number:'.2-7'}} * {{ globalHectarePriceSelectedCurrency | number:'.2-2'}} =
  <span class="emphasis">
    {{sampleCo2ObjectEcologicalPrice.value | currency:selectedCurrency.code}}
  </span>
</div>



<p style="height: 40px"></p>